[TEMPLATE]
DATABASE_URL=postgresql://user:password@ep-xxxx.neon.tech/tvs_bangui?sslmode=require
PORT=4000
ADMIN_PASSWORD=votre_mot_de_passe_admin
CLOUDINARY_CLOUD_NAME=votre_cloud_name
CLOUDINARY_API_KEY=votre_api_key
CLOUDINARY_API_SECRET=votre_api_secret
